:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  --primary-dark-color: #191a19;
  --secondary-dark-color: #2e4c6d;
  --main-color: #5584ac;
  --green-price-color: #9ae66e;
  --red-price-color: #e02401;
  --primary-gray-color: #f7f7f7;
  --secondary-gray-color: #a09e9e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr auto;
  max-height: 100vh;
  overflow: hidden;
}

/*
Sharing styles ----------------------
*/
.stock-watchlist__header,
.recently-viewed__header {
  background-color: var(--secondary-dark-color);
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

/* 
Header section ------------------
*/

header {
  grid-column: 1 / -1;
}

.header-bar {
  height: 10vh;
  text-align: center;
  color: #fff;
  background-color: var(--main-color);
}

.header-text {
  font-size: 6rem;
}

/* 
Side bar watchlist section ------------------
*/
.watchlist-sidebar {
  height: 100vh;
  background-color: var(--primary-gray-color);
}

.stock-watchlist__header {
  display: flex;
  gap: 5rem;
  justify-items: end;
  justify-content: end;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stock-watchlist__create-btn {
  font-size: 2.5rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #fff;
}
.stock-watchlist__list-selector {
  padding: 0.5rem 0;
  text-align: center;
}
.stock-watchlist__dropdown {
  margin: 0 auto;
}

.stock-watchlist__create-btn:hover {
  box-shadow: inset 0 0 0 1px #fff;
}

.stock-watchlist__create-btn:active {
  transform: scale(0.98);
}

.stock-watchlist__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}

.list-item {
  box-sizing: border-box;
  color: var(--primary-gray-color);
  width: 34rem;
  height: 4rem;
  font-size: 3rem;
  background-color: var(--secondary-gray-color);

  border-left: 8px solid var(--green-price-color);

  border-radius: 10px;
  /* border-color: var(--green-price-color); */

  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.information-sec {
  padding: 1.5rem;
}

.add-to-list__submit {
  font-size: 5.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: var(--secondary-dark-color);
}

/* 
Side bar recently viewed section ------------------
*/
.recently-viewed-sidebar {
  height: 100vh;
  background-color: var(--primary-gray-color);
}
