:root {
  --primary-dark-color: #191a19;
  --secondary-dark-color: #2e4c6d;
  --green-price-color: #9ae66e;
  --red-price-color: #e02401;
}

.list-item {
  box-sizing: border-box;
  margin: 10px auto;
  width: 300px;
  height: 80px;
  background-color: var(--secondary-dark-color);

  border-left: 8px solid var(--green-price-color);

  border-radius: 10px;
  /* border-color: var(--green-price-color); */
}
